
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ app.request.attributes.get('_route') == 'home' ? '#page-top' : path('home') }}">
            Alex-Rock.tech
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="{{ 'toggle_navigation'|trans }}">
            <span class="sr-only">Menu</span>
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% set is_home = app.request.attributes.get('_route') == 'home' %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3 rounded js-scroll-trigger" href="{{ not is_home ? path('home') }}#services">{{ 'services.title'|trans }}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3 rounded js-scroll-trigger" href="{{ not is_home ? path('home') }}#trainings">{{ 'services.training.title'|trans }}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3 rounded js-scroll-trigger" href="{{ not is_home ? path('home') }}#coaching">{{ 'services.coaching.title'|trans }}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3 rounded js-scroll-trigger" href="{{ not is_home ? path('home') }}#contact">{{ 'contact.title'|trans }}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3" href="https://www.orbitale.io/">{{ 'menu.blog'|trans }}</a>
                </li>
                {%- set locale = app.request.locale == 'fr' ? 'en' : 'fr' -%}
                {%- set route_name = app.request.attributes.get('_route', 'home') -%}
                {%- set route_params = app.request.attributes.get('_route_params', {})|merge({_locale: locale}) -%}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-lg-3 text-info" href="{{ path(route_name, route_params) }}">
                        {{- locale|upper -}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
