<section class="page-section portfolio" id="services">
    <div class="container">

        {% set service_title = 'services.development.title'|trans %}

        <div class="justify-content-center">

            <h2 class="text-center text-secondary text-uppercase mb-0">
                {{ service_title }}
            </h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            {% if image is defined %}
                <img class="img-fluid rounded mb-5" src="{{ asset(image, 'uploads') }}" alt="{{ service_title }}">
            {% endif %}

            <div class="mb-2 text-justify no-p-margin">
                {{ 'services.development.description'|trans|markdown_to_html }}
            </div>

            <a href="{{ url??path('contact', {subject: 'contact.subject.web_development'}) }}"
               class="btn btn-primary btn-xl btn-outline-light">
                {{ (link_text??'service_item_button')|trans }}
            </a>

        </div>

    </div>
</section>
