{% set markdown_text = markdown_text is defined ? (markdown_text ? true : false) : true %}
{% set service_title = title|trans %}

<div class="col-md-6 col-lg-6 service-item">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#service_{{ slug }}">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
            </div>
        </div>
        {% if image is defined %}
            <img class="img-fluid" src="{{ asset(image, 'uploads') }}" alt="{{ service_title }}">
        {% endif %}
        <h2 class="service-title">
            {{ service_title }}
        </h2>
    </div>
</div>

<div class="portfolio-modal modal fade" id="service_{{ slug }}" tabindex="-1" role="dialog" aria-labelledby="service_{{ slug }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                {{ service_title }}
                            </h2>

                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>

                            {% if image is defined %}
                                <img class="img-fluid rounded mb-5" src="{{ asset(image, 'uploads') }}" alt="{{ service_title }}">
                            {% endif %}

                            <div class="mb-5 text-justify">
                                {% if markdown_text %}
                                    {{ description|trans|markdown_to_html }}
                                {% else %}
                                    {{ description|trans|raw }}
                                {% endif %}
                            </div>

                            <a href="{{ url??path('contact', {subject: subject??''}) }}" class="btn btn-primary btn-xl btn-outline-light">
                                {{ (link_text??'service_item_button')|trans }}
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
