{% set training_title = title|trans %}

<div class="card mb-4 training-item"
     data-training="{{ title }}"
     data-duration="{{ duration }}"
>
    <h4 class="card-title card-header">
        {{ training_title }}
    </h4>
    <div class="card-body">
        <div class="card-text">
            {{ description|trans|markdown_to_html }}
        </div>
    </div>
    <div class="card-footer">
        {{ 'training_item.selected'|trans }}
    </div>
</div>
